* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: max-content;
    margin: 60px auto;

    border-inline-end: 1px solid lightgray;
    border-block-end: 1px solid lightgray;
    border-spacing: 0;

    font-size: 1.5em;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #9bc4cbff;
    color: #9b2915ff;
}

tbody tr:nth-child(even) {
    background-color: var(--clr2);
    color: var(--clr1);
}

td {
    height: 40px;
    padding: 5px 25px;
    transition: background-color 400ms;
    border-inline-start: 1px solid lightgray;
    border-block-start: 1px solid lightgray;
}

td:hover {
    background-color: lightgray;
}

.map {
    width: 70vw;
    height: 40vh;
    margin: 0 auto;
}