* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.place-container {
    margin: 120px;
}

.map {
    width: 70vw;
    height: 40vh;
    margin: 0 auto;
}